body {
  background-color: #111;
  color: #d1d1d1;
}

.container {
  width: 1000px;
  margin: auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  text-decoration: none;
  color: inherit;
}

.theme {
  width: 40px;
  height: 20px;
  background-color: red;
  position: relative;
  border-radius: 10px;
}
.theme__ball {
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#check:checked + label .theme__ball {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

#check {
  opacity: 0;
  position: absolute;
}

.nav {
  list-style: none;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.bag, .user {
  background-color: #f1f1f1;
}

.burger {
  display: none;
}